.btn.btn-outline-dark{
    position: fixed;
    left: 88vw;
    width: 10vw;
    top: 90vh;
}
.btn.btn-outline-warning{
    text-wrap: wrap;
    width: 15vw;
}
.btn.btn-outline-danger{
    height: 50%;
    width: 15vw;
}

@media screen and (max-width: 992px) {
    .btn.btn-outline-warning{
        text-wrap: wrap; 
        width: 17vw;
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
    }
  }